<!DOCTYPE html>
<html>
<head>
    <title>Key in the World</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
</head>
</head>
<body>
    <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">Key in the World</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="templates/about.html" target="_blank">About Me</a>
              <li class="nav-item">
                <a class="nav-link" href="http://www.linkedin.com/in/keyd" target="_blank">LinkedIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/kdoby" target="_blank">Github</a>
              </li>
                </div>
        </nav>
    </div> <!-- container-fluid  -->

    <div class="container">
        <div class="row">
            <div class="about col-sm-6">
                <img class="key-image" src="../static/images/Key-Doby.jpg" alt="Key Doby">
            </div>
            <div class="quote col-sm-6">    
                <h4>If You're Not Growing, You're Dying.</h4>
                <br>
                <p class="quote-meaning">This quote resonates deeply with me and reflects
                    my approach in life: I am constantly seeking opportunities for
                    growth and ways to use my personal and professional growth to 
                    contribute to others. <br>
                <br>From teaching English and digital literacy to immigrant stay-at-home moms so that they are empowered to help their children with homework, have parent-teacher conferences, take their children to doctor appointments, and participate in the conversations independently, etc...<br> 
                <br>To teaching college and career readiness and financial and business literacy to teens... <br>
                <br>To developing programs that empower professional women to leave work that they hate and do what they love... <br>
                <br>One theme has been consistent throughout my work: <strong>Freedom.</strong> Freedom to look beyond your limitations and current situation and then create the life that YOU want. </p>

            </div>
        </div><!-- row  -->
        <div class="row">
            <div class="final col md">
              <p class="swe-connect">Two things that I love most about Software Engineering is that I get to learn new things regularly and help build programs that make a difference in people's lives. I look forward to the day when I am able to share these technology skills to help uplift others.</p>
                <!-- <p>
                 With time as our most valuable commodity, I've chosen to seek out enjoyment, passion, learning, and helping.
                 Some joys that I have discovered along my journey are:
                 <ul>
                    <li> Travel
                        <ul>
                            <li>I've been to 6 of 7 continents so far. I'm not rushing
                            to cold Antartica anytime soon. </li>
                            <li>I love to visit one place for as long as possible to immerse
                            myself in the culture.</li>
                            <li>I'll often take language and dance classes while abroad.</li>
                            <li>As shown on the map, I have also lived and worked in
                            China and Guatemala.</li>
                        </ul>
                    </li>
                    <li>Dance
                        <ul>
                            <li>I've danced in San Francisco Carnaval with a Samba School since 2012.</li>
                            <li>As shown on the map, I also danced in Rio Carnival.</li>
                            <li>I've taken various dance classes during international travels- such as Bollywood in India, Salsa in Costa Rica, and Flamenco in Spain, to name a few.</li>
                            <li>When we're not sheltering in place, you can catch me in the center of the grass/dance floor at the various cultural festivals in Oakland.</li>
                        </ul>
                    </li>
                    <li>Martial Arts
                        <ul>
                            <li>I trained in Mixed Martial Arts when I lived in Chicago and won my one and only competition.</li>
                            <li>I also trained when I lived in Guatemala.</li>
                            <li>I am a member of a boxing gym in Oakland.</li>
                        </ul>
                    </li>
      
                </ul>

                <p>I've always loved learning and sharing my knowledge with others, particularly marginalized groups. <br>
                
                <p> With this much passion for educating, was I crazy to make a career change to software engineering?
                  <br><br>
                  I GET to learn new things every day just to do my job? 
                  <br>
                  I GET to transition from developing curriculum and programs to software programs? 
                  <br>
                  I GET to use technology to help contribute to people's lives? 
                  <br>
                  I GET to learn new skills that one day I can then teach to other marginalized groups? 
                  <br><br>

                  No, not crazy at all. This was a no brainer. And I've enjoyed and am grateful for this journey and can't wait to see what contributions I GET to make next.

             </p> -->

       
    </div><!-- container  -->

</body>
</html>